:root {
  --cor-fundo: #157f58;
  --cor-primaria: #0c5e40;
  --cor-secundaria: #666666;
  --cor-accento: #ffa083;
  --tamanho-titulo: 36px;
  --tamanho-texto: 18px;

  --largura-imagem: 300px;
}
/*Layout geral*/
.container-principal {
  background-color: var(--cor-fundo);
  height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titulo-principal {
   color: var(--cor-secundaria);
}

.imagem-mascote {
  max-width: 60%;
  width: min(300px, 70vw);
  height: auto;
  object-fit: contain;
  transition: transform 0.2s;
}

.texto-piada {
  color: var(--cor-secundaria);
}

/*Componentes*/
.botao-procurar {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: var(--tamanho-texto);
  color: var(--cor-secundaria);
  :hover {
    background-color: var(--cor-accento);
    transition: all 0.3s ease;
  }
  :focus {
    outline: none;
  }
}
.seletor-piada {
  padding: 10px 20px;
  border-radius: 5px;
  color: var(--cor-secundaria);
  text-align: center;
  :hover {
    background-color: var(--cor-accento);
    transition: all 0.3s ease;
  }
}

/*Responsividade*/

@media (max-width: 768px) {
  .imagem-mascote {
    width: 200px;
  }
}
